@model CuoiKi.Areas.admin.Models.DonHangNhap

@{
    ViewBag.Title = "Create_Nhap";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section header{
    THÊM MỚI ĐƠN HÀNG
}

@using (Html.BeginForm("Create_Nhap", "NhapHang", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-lg-12 form-group">
        <div class="col-md-6">
            @Html.ActionLink("Quay lại", "Details", "NhapHang", new { @class = "btn bg-delete" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.maNCC, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.maNCC, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.maNCC, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            Số sách nhập
        </div>
        <div class="col-md-10 ">
            <input type="number" class="form-control" onchange=""/>
        </div>
        
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tenSP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tenSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tenSP, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.soLuong, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.soLuong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.soLuong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.giaNhap, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.giaNhap, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.giaNhap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn bg-delete">Tạo</button>
        </div>
    </div>
</div>
}

