@model IEnumerable<CuoiKi.Areas.admin.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section header{
    QUẢN LÝ SÁCH
}
@using (Html.BeginForm("Index", "SanPham", FormMethod.Get))
{
<div class="col-lg-12 form-group">
    <div class="col-md-6">
        @Html.ActionLink("Tạo mới", "Create", "SanPham", new { @class = "btn bg-delete" })
    </div>
    <div class="col-md-6 text-align">
         @Html.TextBox("SearchString") <button class="btn bg-delete" type="submit">Tìm kiếm</button>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>STT</th>
        <th>
            @Html.DisplayNameFor(model => model.tenSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anh)
        </th>
        <th>Thao Tác</th>
    </tr>
    @{ var i = 1;}
    @foreach (var item in Model)
    {
        <tr id="row_@item.id">
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.tenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuong)
            </td>
            <td>
                @String.Format("{0:0,0 VNĐ}", (item.gia))
            </td>
            <td>
                @{ var hinh = Html.DisplayFor(modelItem => item.anh); }

                <img style="width:80px; height:80px " src="~/uploadedImages/@hinh" />
            </td>
            <td>
                @Html.ActionLink(" ", "EDIT", new { id = item.id }, new { @class = "glyphicon glyphicon-pencil bg-red" })

                @Ajax.ActionLink(" ", "Delete", new { id = item.id }, new AjaxOptions
               {
                   Confirm = "Bạn có muốn xóa bản ghi này",
                   OnComplete = "$('#row_" + item.id + "').remove()",
                   HttpMethod = "Delete"
               }, new { @class = "glyphicon glyphicon-trash bg-delete" })
            </td>
        </tr>
        <a href="~/Areas/admin/Views/SanPham/Index.cshtml">~/Areas/admin/Views/SanPham/Index.cshtml</a>
        i++;
    }

</table>
